<?xml version="1.0" encoding="utf-8" ?>
<!-- Copyright 2022 OpenSynergy Indonesia
     Copyright 2022 PT. Simetri Sinergi Indonesia
     License AGPL-3.0 or later (http://www.gnu.org/licenses/agpl). -->
<odoo>
    <!-- groups="group_hr_timesheet_user" -->

    <menuitem
        id="timesheet_menu"
        name="Timesheets"
        parent="ssi_hr.menu_root_human_resource"
        sequence="3"
    />

    <menuitem
        id="reporting_menu"
        name="Reportings"
        parent="ssi_hr.menu_root_human_resource"
        sequence="5"
    />

    <menuitem
        id="menu_hr_timesheet_configuration"
        name="Timesheets"
        parent="ssi_hr.menu_human_resource_configuration"
        sequence="3"
    />

</odoo>
