<?xml version="1.0" encoding="utf-8" ?>
<!-- Copyright 2024 OpenSynergy Indonesia
     Copyright 2024 PT. Simetri Sinergi Indonesia
     License AGPL-3.0 or later (http://www.gnu.org/licenses/agpl). -->
<odoo>

    <menuitem
        id="menu_hr_machine_configuration"
        name="Data Machine"
        parent="ssi_hr.menu_human_resource_configuration"
        groups="hr_attendance_machine_group"
        sequence="5"
    />
    <menuitem
        id="menu_hr_machine_transaction"
        name="Machine Transaction"
        groups="hr_attendance_machine_group"
        parent="ssi_timesheet.timesheet_menu"
        sequence="5"
    />

</odoo>
